# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
local_settings.py

# If you use pipenv:
Pipfile.lock

# If you use virtualenv:
venv/
env/

# VSCode / PyCharm
.vscode/
.idea/

# macOS / Linux / Windows
.DS_Store
*.swp
Thumbs.db

# Node stuff (si tu as du JS ou Tailwind avec npm)
node_modules/
npm-debug.log
package-lock.json
dist/
build/

# Env vars
.env

# Static files collected by collectstatic
static/

# migrations caches
**/migrations/__pycache__/
